<%- include templates.navbar.admin.ejs %>

<div class="container">
    <h3><a href="/admin"><i class="fa fa-fw fa-chevron-circle-left"></i></a>ORDER MANAGER</h3>
    <hr/>

    <div class="row clearfix">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>

                    <th> <%= __('one generation') %> </th>
                                
                    <th> <%= __('name') %> </th>
                                
                    <th> <%= __('products') %> </th>
                                
                    <Th> <%= __('Price') %> </th>
                                
                    <Th> <%= __('Telephone') %> </th>
                                
                    <Th> <%= __('address') %> </th>
                                
                    <Th> <%= __('shipping') %> </th>
                                
                    <Th> <%= __('Payment') %> </th>
                                
                    <Th> <%= __('state') %> </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <% orders.forEach(function (order) { %>
                <tr data-id="<%= order.id %>">
                    <!--td>{{ loop.index %></td-->
                    <td><%= order.createdAt %></td>
                    <td>
                        <% if (order.owner) { %>
                        <a href="/user/<%= order.owner.id %>"><%= order.name %></a>
                        <% } else { %>
                        <%= order.name %>
                        <% } %>
                    </td>
                    <td>

                        <% order.products.forEach(function(product){ %>

                        <a href="/product/view/<%= product.id %>"><%= product.name %></a>

                        <%= product.quantity %>

                        <% }); %>

                    </td>
                    <td><%= order.price | currency %></td>
                    <td><%= order.phone %></td>
                    <td><%= order.address %></td>
                    <td>
                        <% if (order.shipping > 0) { %>

                        <Span class="badge badge-success"> <%= __('advance payment') %> </span>
                            
                        <% } else { %>

                                      <Span class="badge badge-warning"> <%= __('arrears') %> </span>
                                      
                        <% } %>

                                    
                    </Td>
                                
                    <Td><span class="badge badge-default"> <%= order.payment %>
                        </span></td>
                                
                    <Td>
                                      
                        <% if (order.status == 'PREPARE') { %>
                                      <Span class="badge badge-default"> <%= __('standby payment') %> </span>

                        <% } %>

                                      
                        <% if (order.status == 'PAID') { %>
                                      <Span class="badge badge-info"> <%= __('payment received') %> </span>


                                      
                        <% } %>

                        <% if  (order.status == 'SENT') { %>
                                      <Span class="badge badge-primary"> <%= __('delivery of') %> </span>
                                      
                        <% } %>

                        <% if ( order.status == 'DONE') { %>
                                      <Span class="badge badge-success"> <%= __('Delivered') %> </span>
                        <% } %>
                                      
                        <% if (order.status == 'CANCEL') { %>
                                      <Span class="badge badge-danger"> <%= __('Cancelled') %> </span>
                                      
                        <% } else { %>
                                      <Span class="badge badge-warning"> <%= __('Out of stock') %> </span>
                                      
                        <% } %>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-xs btn-default">Action</button>
                            <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu" role="menu">


                                <Li><a href="/order/{{ order.id %>"> <%= __('View Order') %> </a></li>
                                                   {% if order.status!== 'CANCEL'%}

                                                   {% if order.status!== 'PAID'%}
                                                  
                                <Li>
                                    <a href="/order/change/{{ order.id %>?type=PAID"> <%= __('payment completed') %> </a>
                                </li>
                                                   {% else%}
                                                  
                                <Li>
                                    <a href="/order/change/{{ order.id %>?type=PREPARE"> <%= __('Payment Canceled') %> </a>
                                </li>
                                                   {% endif%}
                                                  
                                <Li><a href="#"> <%= __('Enter Invoice') %> </a></li>
                                                  
                                <Li><a href="/order/cancel/{{ order.id %>"> <%= __('Cancel') %> </a></li>

                                                   {% endif%}
                                                  
                                <Li class="divider"></
                                li>
                                                  
                                <Li><a href="#" data-id="{{ order.id %>"
                                       button-action="delete"> <%= __('delete') %> </a></li>

                            </ul>
                        </div>
                    </td>
                </tr>

                <% }); %>
                </tbody>
            </table>

            <div style="text-align: center;">
                <ul class="pagination">
                    <li><a href="/admin/order">&laquo;</a></li>


                    <% pages.forEach(function (index) { %>


                    <% if (typeof loop == 'object' && page == loop.index) { %>
                    <li class="active"><a href="/admin/order?page=<%= loop.index %>"><%= loop.index %>
                        </a></li>
                    <% } else { %>
                    <li><a href="/admin/order?page=<%#= loop.index %>"><%#=  loop.index   %>
                        </a></li>
                    <% }  %>


                    <% if (typeof loop == 'object' && loop.last) { %>
                    <li><a href="/admin/order?page=<%= loop.index %>">&raquo;</a></li>
                    <% }  %>



                    <% });  %>



                </ul>
            </div>
        </div>
    </div>
</div>


<%- include ../commun/library.ejs %>


<script type="text/javascript">
    $(document).ready(function () {
        // POST DELETE
        $('[button-action="delete"]').on('click', function () {
            if (!confirm('Do you really want to delete this?')) {
                return;
            }

            var product_id = $(this).data('id');

            $.ajax({
                type: 'DELETE',
                url: '/order/' + product_id,
                success: function (data, status) {
                    alert('Deleted succesfully.');
                    window.location = '/admin/order';
                    return;
                },
                error: function (error) {
                    console.log(error);
                    return;
                }
            });
        });
    });
</script>


