<%- include ../../commun/navbar.light.ejs %>


<div class="">
    <h4 style="color:forestgreen"><a href="/admin"></a>New Product</h4>


    <form role="form" action="/admin/product/create/validation" method="POST">
        <div class="row">


            <div class="col-sm-6">
                <label> <%= __('name') %>    </label>
                           <input type="text" class="form-control" id="name" name="name"
                                  placeholder="<%= __('Please enter your name') %>" value="">

                <input type="hidden" name="idProduct" id="idProduct" value="<%= newIdProduct %>">

            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('price') %> </label>

                           <input type="text" class="form-control" id="price" name="price"
                                  placeholder="<%= __('Please enter the price') %>" value="">

            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('Inventory') %> </label>
                           <input type="text" class="form-control" id="stock" name="stock"
                                  placeholder="<%= __('Please enter the inventory') %>" value="">
            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('VIMEO image ID') %> </label>

                           <input type="text" class="form-control" id="video" name="video"
                                  placeholder="<%= __('VIMEO image ID input please.') %>" value="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('representative picture') %> </label>
                           <input type="text" class="form-control" id="thumbnail" name="thumbnail"
                                  placeholder="<%= __('representative image URL input please') %>" value="">
            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('Product photos') %> </label>
                           <input type="text" class="form-control" id="photos" name="photos"
                                  placeholder="<%= __('product images URL to enter your (comma as the separator)') %>"
                                  value="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('product') %> </label>
                            <Select name="related" class="form-control">            
                    <Option value=""> <%= __('No') %></option>
                    {% for product in products %}
                    <option value="{{ product.id %>">{{ product.name
                        %>
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-sm-6">
                <label style="align-content: center;text-align: center">  <%= __('tags') %> </label>

                           <input type="text" class="form-control" id="tags" name="tags"
                                  placeholder="<%= __('Please enter tags separated by commas') %>" value="">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <label> <%= __('description') %> </label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="4"
                          placeholder="<%= __('the product to explain MARKDOWN format as input please') %> ">
                </textarea>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6" style="text-align: center;align-content: center">
                <% if (typeof edit == 'object' && edit) { %>         
                <Button type="submit" class="btn btn-primary btn-lg pull-right"> <%= __('modify') %></button>          
                <% } else { %>          
                <Button type="submit" class="btn btn-primary btn-lg pull-right"> <%= __('Save') %></button>
                <% } %>
            </div>
            <div class="col-sm-6">
                <p class="help-block">

                    <i class="fa fa-fw fa-warning"> </i>
                    <%= __('When you register your product is stored in Unavailable state by default.') %>
                </p>
            </div>
        </div>
    </form>
</div>

<br>
<form action="/product/save_image/<%= newIdProduct %>" id="my-dropzone" class="dropzone" method="post" enctype="multipart/form-data">

</form>
<script>
    // myDropzone is the configuration for the element that has an id attribute
    // with the value my-dropzone (or myDropzone)
    Dropzone.options.myDropzone = {
        init: function () {
            this.on("addedfile", function (file) {

                console.log('file added');

                /*fs.readFile(request.files.file.path, function(err, data) {

                    var newPath = __dirname + "/public/img/xspectra/customlogo.png";
                    fs.writeFile(newPath, data, function (err) {
                        console.log("Finished writing file..." + err);
                        response.redirect("back");
                    });

                });*/

                // Create the remove button
                var removeButton = Dropzone.createElement("<button>Remove file</button>");
                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();

                    // Remove the file preview.
                    _this.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.
                });
                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
            });
        },
        paramName: "file", // The name that will be used to transfer the file
        maxFilesize: 10, // MB
        uploadMultiple: false,
        addRemoveLinks: true,
        parallelUploads: true,
        dictDefaultMessage: 'Drag files here <br />or<br /><button class="dzUploadBtn" type="button">click here to upload</button>',
        //acceptedMimeTypes: '.jpg'
    };
</script>




