<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">


        <%if (typeof templateToInclude == 'string') {%>


        <% if (templateToInclude == 'admin') {%>

        <%-  include ../../admin/admin %>

        <%}%>

        <% if (templateToInclude == 'product') {%>

        <%-  include ../../admin/product/new %>

        <%}%>



        <% if (templateToInclude == 'adminUserManager') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/admin.user.ejs %>

        <%}%>


        <% if (templateToInclude == 'adminOrderManager') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/admin.order.ejs %>

        <%}%>



        <% if (templateToInclude == 'adminProductManager') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/admin.product.ejs %>

        <%}%>



        <% if (templateToInclude == 'adminUserProfile') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/user/profile.ejs %>

        <%}%>










        <%}%>








    </div>
</div>



<!-- /#page-content-wrapper -->