<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid">


        <%if (typeof templateToInclude == 'string') {%>


        <% if (templateToInclude == 'admin') {%>

        <%-  include ../../admin/admin %>

        <%}%>

        <% if (templateToInclude == 'product') {%>

        <%-  include ../../admin/product/new %>

        <%}%>



        <% if (templateToInclude == 'adminUserManager') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/admin.user.ejs %>

        <%}%>


        <% if (templateToInclude == 'adminOrderManager') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/admin.order.ejs %>

        <%}%>



        <% if (templateToInclude == 'adminProductManager') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/admin.product.manager.ejs %>

        <%}%>



        <% if (templateToInclude == 'adminUserProfile') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/user/profile.ejs %>

        <%}%>



        <%# [START]: template to manage the product%>


        <% if (templateToInclude == 'productCreationOk') {%>

        <%#- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/product/creationOk.ejs %>

        <%}%>



        <% if (templateToInclude == 'productCreationKo') {%>

        <%#- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/product/creationKo.ejs %>

        <%}%>


        <% if (templateToInclude == 'productModification') {%>

        <%- include ../../commun/navbar.light.ejs %>

        <%-  include ../../admin/product/modification.ejs %>

        <%}%>




        <%# [END]: template to manage the product%>










        <%}%>








    </div>
</div>



<!-- /#page-content-wrapper -->