<br><br><br>

<div class="container" width="400">

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="row" id="login-window">
        <h3><%= __('login') %></h3>



        <form role="form" action='/login' method="POST">



          <div class="form-group">
            <label for="email"><%= __('e-mail') %></label>
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <input type="email" class="form-control" id="email" name="email" placeholder="client@FLIT.kr" />
            </div>
          </div>
          <div class="form-group">
            <label for="password"><%= __('password') %></label>
            <div class="input-group">
              <div class="input-group-addon">?</div>
              <input type="password" class="form-control" id="password" name="password" />
            </div>
          </div>
          <hr />

          <button type="submit" class="btn btn-primary pull-right"><%= __('login') %></button>
            <button type="button" id="signup" class="btn btn-default"><%= __('Sign Up') %></button>
        </form>
      </div><!-- LOGIN FORM -->

      <div class="row" id="signup-window" style="display: none;">
        <h3><%= __('Sign Up') %></h3>
        <form role="form" action='/signup' method="POST">
          <div class="form-group">
            <label for="name"><%= __('name') %></label>
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <input type="name" class="form-control" id="name" name="name" placeholder="<%= __('name') %>" />
            </div>
          </div>
          <div class="form-group">
            <label for="email"><%= __('e-mail') %></label>
            <div class="input-group">
              <div class="input-group-addon">@</div>
              <input type="email" class="form-control" id="email" name="email" placeholder="client@FLIT.kr" />
            </div>
          </div>
          <div class="form-group">
            <label for="password"><%= __('password') %></label>
            <div class="input-group">
              <div class="input-group-addon">?</div>
              <input type="password" class="form-control" id="password" name="password" />
            </div>
          </div>
          <hr />

          <button type="submit" class="btn btn-primary pull-right"><%= __('Sign Up') %></button>
          <button type="button" id="login" class="btn btn-default"><%= __('Sign in') %></button>
        </form>
      </div><!-- LOGIN FORM -->
    </div>
  </div>

</div><!-- /.container -->


<%- include ../commun/library.ejs %>


<script>
  $(document).ready(function () {
    var $signup = $('button#signup');
    var $login = $('button#login');

    $signup.on('click', function () {
      $('#login-window').hide();
      $('#signup-window').show();
    });

    $login.on('click', function () {
      $('#signup-window').hide();
      $('#login-window').show();
    });
  });
</script>

