My Page


<div class="container">
    <h1><i class="fa fa-fw fa-user"></i><%= __('profile') %></h1>
    <hr/>

    <div class="row">
        <div class="col-sm-6">
            <br>
            <form class="form-horizontal" role="form" action="/user/<%= user.id %>" method="POST">
                <div class="form-group">


                    <Label for="email" class="col-sm-4 control-label"> <%= __('E') %> </label>
                              
                    <div class="col-sm-8">
                                    <P class="form-control-static"> <%= user.email %> </p>
                                  
                    </div>
                            
                </div>
                        
                <div class="form-group">
                              <Label for="name" class="col-sm-4 control-label"> <%= __('name') %> </label>
                              
                    <div class="col-sm-8">
                                    <Input type="text" class="form-control" name="name" id="name"
                                           placeholder="<%= __('name') %>" value="<%= user.name %>">
                                  
                    </div>
                            
                </div>
                        
                <div class="form-group">
                              <Label for="phone" class="col-sm-4 control-label"> <%= __('Telephone') %> </label>
                              
                    <Div class="col-sm-8">
                                    <Input type="text" class="form-control" name="phone" id="phone"
                                           placeholder="<%= __('Telephone') %>" value="<%= user.phone %>">
                                  
                    </Div>
                            
                </div>
                        
                <div class="form-group">
                              <Label for="address" class="col-sm-4 control-label"> <%= __('address') %> </label>
                              
                    <Div class="col-sm-8">
                                    <input type="text" class="form-control" name="address" id="address"
                                           placeholder="<%= __('juso') %>" value="<%= user.address %>">
                                  
                    </Div>
                            
                </div>
                        
                <div class="form-group">
                              <Label for="postcode" class="col-sm-4 control-label"> <%= __('Zip') %> </label>
                              
                    <Div class="col-sm-8">
                                    <Input type="text" class="form-control" name="postcode" id="postcode"
                                           placeholder="<%= __('Zip') %>" value="<%= user.postcode %>">
                                  
                    </Div>
                            
                </div>
                        
                <hr/>  
                <Button type="submit" class="btn btn-primary pull-right"> <%= __('Save') %> </button>
            </form>
        </div>

        <div class="col-sm-6">
            What to write in here

        </div>
    </div>
    <hr/>

    <div class="row">
        <div class="col-sm-12">

            <H1><i class="fa fa-fw fa-truck"> </ i> <%= __('Order History') %> </h1>
                  
            <Table class="table table-hover">
                        
                <Thead>
                          
                <Tr>
                                
                    <Th> #</th>
                                
                    <Th> <%= __('Date') %> </th>
                                
                    <Th> <%= __('name') %> </th>
                                
                    <Th> <%= __('Price') %> </th>
                                
                    <Th> <%= __('Telephone') %> </th>
                                
                    <Th> <%= __('address') %> </th>
                                
                    <Th> <%= __('shipping') %> </th>
                                
                    <Th> <%= __('Payment') %> </th>
                                
                    <Th> <%= __('state') %> </th>


                    <th></th>
                </tr>
                </thead>
                <tbody>


                <% if (typeof orders == 'object' && orders) { %>

                <% orders.forEach(function(order){%>

                <tr data-id="<%= order.id %>">
                    <td><%= 'loop.index' %></td>
                    <td><%= order.createdAt %> <!--| date('Y-m-d', '-540') %--></td>
                    <td><%= order.name %></td>
                    <td><%= order.price | 'currency' %></td>
                    <td><%= order.phone %></td>
                    <td><%= order.address %></td>
                    <td>
                        <% if (order.shipping > 0) { %>

                        <Span class="badge badge-success"> <%= __('advance payment') %> </span>
                                      <% } else { %>
                                      <Span class="badge badge-warning"> <%= __('arrears') %> </span>
                                      <% }%>
                                    
                    </Td>
                                
                    <Td>
                                      <% if (order.payment == 'TRANSFER'){ %>
                                      <Span class="badge badge-default"> <%= __('Bank Transfer') %> </span>
                                      

                                        <%}%>

                        <% if (order.payment == 'CARD') {%>
                                      <Span class="badge badge-default"> <%= __('Card') %> </span>
                                      <% } %>           
                    </Td>
                                
                    <Td>
                                      <% if (order.status == 'PREPARE') {%>
                                      <Span class="badge badge-default"> <%= __('standby payment') %> </span>
                                      {% elseif order.status == 'PAID'%}
                                      <Span class="badge badge-info"> <%= __('payment received') %> </span>
                                      {% elseif order.status == 'SENT'%}
                                      <Span class="badge badge-primary"> <%= __('delivery of') %> </span>
                                      {% elseif order.status == 'DONE'%}
                                      <Span class="badge badge-success"> <%= __('Delivered') %> </span>
                                      {% elseif order.status == 'CANCEL'%}
                                      <Span class="badge badge-danger"> <%= __('Cancelled') %> </span>
                                      <%} else {%>
                                      <Span class="badge badge-warning"> <%= __('Out of stock') %> </span>

                        <% } %>
                    </td>
                    <td>

                        <a href="/order/<%= order.id %>" class="btn btn-xs btn-default"
                           button-action="edit"> <%= __('View') %> </a>
                                       <% if (order.status === 'PREPARE') { %>
                                       <a href="/pay/<%= order.id %>" class="btn btn-xs btn-primary"
                                          button-action="edit"> <%= __('Payment') %> </a>

                        <% } %>
                    </td>
                </tr>

                <% })%>

                <% } %>
                </tbody>
            </table>

            <div style="text-align: center;">
                <ul class="pagination">
                    <li><a href="/profile">&laquo;</a></li>
                    <% pages.forEach(function( index){ %>

                    <% if (typeof loop == 'object' && loop) { %>

                    {% if page == loop.index %}
                    <li class="active"><a href="/profile?page=<%= loop.index %>"><%= loop.index %></a></li>
                    {% else %}
                    <li><a href="/profile?page=<%= loop.index %>"><%= loop.index %></a></li>
                    {% endif %}
                    {% if loop.last %}
                    <li><a href="/profile?page=<%= loop.index %>">&raquo;</a></li>
                    {% endif %}

                    <% } %>

                    <% }) %>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include ../front/layout.ejs %>


<script type="text/javascript">
    $(document).ready(function () {
        $('[button-action="status"]').on('click', function () {
            var product_id = $(this).parent().parent().data('id');

            $.ajax({
                type: 'PUT',
                url: '/product/status/' + product_id,
                success: function (data, status) {
                    alert('Deleted succesfully.');
                    window.location = '/admin/product';
                    return;
                },
                error: function (error) {
                    console.log(error);
                    return;
                }
            });
        });

        // POST DELETE
        $('[button-action="delete"]').on('click', function () {
            if (!confirm('Do you really want to delete this?')) {
                return;
            }

            var product_id = $(this).parent().parent().data('id');

            $.ajax({
                type: 'DELETE',
                url: '/order/' + product_id,
                success: function (data, status) {
                    alert('Deleted succesfully.');
                    window.location = '/admin/order';
                    return;
                },
                error: function (error) {
                    console.log(error);
                    return;
                }
            });
        });
    });
</script>
