<div class="container" style="margin-bottom: 70px;">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">


        <!-- class="nav navbar-nav">
         <li class="nav-item active">
           <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Features</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">Pricing</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href="#">About</a>
         </li>
       </-->


        <ul class="nav navbar-nav navbar-right">


            <li>

                <a class="navbar-brand" href="/"><%= sails.config.project.name %></a>

            </li>


            <li class="">
                <a class="navbar-brand" href="/cart"><i
                            class="fa fa-fw fa-shopping-cart"></i> <%= __('shopping basket') %>
                    <% if (this.cart) {
                        cart.length
                    } %>
                </a>
            </li>

            <% if (this.admin) { %>
            <li class="dropdown nav-item">
                <a href="/admin"><%= __('manager') %></a>
            </li>
            <% } %>

            <li class="navbar-brand">
                <% if (typeof user !== 'object' && typeof admin !== 'object') { %>
                <a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    <%= __('login') %>
                </a>

                <a href="/admin"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    <%= 'Back End' %>
                </a>

                <% } %>

                <% if (typeof user == 'object' && user) { %>

                <% if (user.name) { %>

                <a href="/profile"><i class="fa fa-user" aria-hidden="true"></i>
                    user &nbsp;<%= user.name %></a>

                <a href="/admin"><i class="fa fa-sign-in" aria-hidden="true"></i>
                    <%= 'Back End' %>
                </a>

                <% } else { %>
                <%= user.email %>
                <% } %>

                <!--ul class="dropdown-menu" role="menu">



              <li class="dropdown-header"><%= __('User Menu') %></li>
              <% if (typeof user == 'object' && user.permission == 'ADMIN') { %>
              <li><a href="/admin"><%= __('Manager page') %></a></li>
              <% } %>
              <li><a href="/profile" id="edit-profile"><%= __('my page') %></a></li>
              <li class="divider"></li>

              <li class="dropdown nav-item">
                <a href="/admin/menu"><%= __('menu_manager') %></a>
              </li>

              <li><a href="/logout"><%= __('Log out') %></a></li>
            </ul-->

                <% } %>
            </li>

            <% if ('admin' == 'admin') { %>

            <!--li>

              <a class="navbar-brand" href="/admin/menu"><i class="fa fa-fw fa-lg fa-cog"></i>Menu Admin <strong class="caret"></strong>
              </a>

            </li-->

            <% } %>

            <% if (typeof showSearchMenu == 'number' && showSearchMenu == 1) { %>
            <form class="form-inline pull-xs-right" role="search">
                <input class="form-control" type="text" name="name" placeholder="<%= __('Enter a product name') %>">
                <button class="btn btn-success-outline" type="submit"><%= __('Search') %></button>
            </form>

            <% } %>
        </ul>

    </nav>
</div>