<%- include ../../commun/navbar.light.ejs %>


<div class="">
    <h4 style="color:forestgreen"><a href="/admin"></a>Create a Category</h4>


    <form role="form" action="/admin/category/create/validation" method="POST">


        <div class="row">
            <div class="col-sm-12">
                <label> <%= __('Name') %> </label>
                           <input type="text" class="form-control" id="name" name="name"
                                  placeholder="<%= __('Please enter your name') %>" value="">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <label> <%= __('Description') %> </label>
                <textarea class="form-control" name="description" id="description" cols="30" rows="4"
                          placeholder="<%= __('placeholder_description') %>" value="">
                </textarea>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <label> <%= __('representative picture') %> </label>
                           <input type="text" class="form-control" id="thumbnail" name="thumbnail"
                                  placeholder="<%= __('placeholder_url') %>" value="">

            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-12">
                <label> <%= __('product') %> </label>
                            <Select name="related" class="form-control">
                                
                    <Option value=""> <%= __('No') %></option>


                    {% for product in products %}
                    <option value="{{ product.id %>">{{ product.name
                        %>
                    </option>
                    {% endfor %}
                </select>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <label style="align-content: center;text-align: center">  <%= __('tags') %> </label>

                           <input type="text" class="form-control" id="tags" name="tags"
                                  placeholder="<%= __('Please enter tags separated by commas') %>" value="">
            </div>
        </div>
        <br>

        <br>
        <div class="row">
            <div class="col-sm-12" style="text-align: center;align-content: center">

                <% if (typeof edit == 'object' && edit) { %>
                          
                <Button type="submit" class="btn btn-primary btn-lg pull-center"> <%= __('modify') %></button>
                          
                <% } else { %>
                          
                <Button type="submit" class="btn btn-primary btn-lg pull-center"> <%= __('Save') %></button>

                <% } %>
            </div>

        </div>
    </form>
</div>


<br>

<form action="/target-url" id="my-dropzone" class="dropzone"></form>

<script>
    // myDropzone is the configuration for the element that has an id attribute
    // with the value my-dropzone (or myDropzone)
    Dropzone.options.myDropzone = {
        init: function () {
            this.on("addedfile", function (file) {

                // Create the remove button
                var removeButton = Dropzone.createElement("<button>Remove file</button>");


                // Capture the Dropzone instance as closure.
                var _this = this;

                // Listen to the click event
                removeButton.addEventListener("click", function (e) {
                    // Make sure the button click doesn't submit the form:
                    e.preventDefault();
                    e.stopPropagation();

                    // Remove the file preview.
                    _this.removeFile(file);
                    // If you want to the delete the file on the server as well,
                    // you can do the AJAX request here.
                });

                // Add the button to the file preview element.
                file.previewElement.appendChild(removeButton);
            });
        }
    };
</script>




